* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }
li {
  list-style: none;
}

img {
  border: none; }

#header, #he-login, #he-nav, #footer {
  width: 100%; }

.wd1002 {
  width: 1002px;
  margin: 0 auto; }

.he-wl, .he-lo a, #fo-nav > li, #fo-nav > li > ul > li > a, #fo-contact p, #copyright {
  font-size: 12px;
  color: white; }

.he-wl, .he-lo, #he-nav ul, #fo-contact, #fo-contact p {
  float: right; }

#he-nav ul li, #fo-nav, #fo-nav > li, #fo-nav > li > img, #fo-contact img {
  float: left; }

#header {
  overflow: hidden; }

#he-login {
  height: 25px;
  background: url("../images/h_bg.png"); }

.he-wl {
  margin-right: 9px;
  line-height: 25px; }

.he-lo a {
  margin-left: 34px; }

#he-nav {
  height: 82px;
  background: url("../images/nav_bg.png"); }

#he-nav img {
  margin: 5px 0 0 9px;
  float: left; }

#he-nav ul {
  margin-top: 16px;
  overflow: hidden; }

#he-nav ul li {
  margin-left: 40px;
  border-top-style: solid;
  border-top-width: 0;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  line-height: 64px;
  -webkit-transition: border-top-width 0.5s ease 0;
  -moz-transition: border-top-width 0.5s ease 0;
  -ms-transition: border-top-width 0.5s ease 0;
  transition: border-top-width 0.5s ease 0; }

#he-nav ul li:hover {
  border-top-width: 4px; }

#he-nav ul li a {
  color: #000000; }

.origin {
  border-color: #eea758; }

.yellow {
  border-color: #f4e690; }

.green {
  border-color: #a8f48b; }

.deepGreen {
  border-color: #9dd8ca; }

.pink {
  border-color: #f9bdea; }

.violet {
  border-color: #ddc4f7; }

#footer {
  height: 303px;
  background: url("../images/h_bg.png"); }

#fo-nav {
  margin-top: 37px; }

#fo-nav > li {
  height: 110px;
  margin-right: 21px;
  font-size: 16px;
  font-family: "Microsoft Yahei"; }

#fo-nav > li > img {
  margin-right: 9px; }

#fo-nav > li > ul {
  margin-left: 8px;
  margin-top: 19px; }

#fo-nav > li > ul > li {
  line-height: 12px;
  padding-bottom: 10px;
  border-left: 2px solid white; }

#fo-nav > li > ul > li:last-child {
  padding-bottom: 0; }

#fo-nav > li > ul > li > a {
  padding-left: 12px;
  vertical-align: top; }

#fo-contact {
  width: 300px;
  margin-top: 37px; }
  #fo-contact p {
    position: relative;
    top: -10px;
    left: -18px;
    font-size: 14px;
    font-family: "Microsoft Yahei"; }
    #fo-contact p span {
      display: block;
      margin-left: -5px;
      font-size: 36px;
      font-family: "Microsoft Yahei"; }
  #fo-contact .con-center {
    width: 290px;
    margin: 0 auto; }
    #fo-contact .con-center img {
      margin-top: 11px;
      margin-left: 5px; }

#copyright {
  clear: both;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  font-family: "Microsoft Yahei"; }



.sliderBtn{
  display: block;
  position: absolute;
  top:35%;
  background: url("images/sprite.png") no-repeat;
  width:45px;
  height: 100px;
  cursor: pointer;
  z-index: 100;
  -webkit-opacity:.2;
  -moz-opacity: .2;
  -m-opacity:.2;
  opacity: .2;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition:opacity .5s ease;
}
.sliderBtn:hover{
  -webkit-opacity:1;
  -moz-opacity: 1;
  -m-opacity:1;
  opacity:1;
}
#preBtn{
  left: 0;
}
#nextBtn{
  right: 0;
  background-position: right top;
}
#btnList{
  position: absolute;
  bottom:10px;
  right: 50%;
}
.btnClass{
  float: right;
  width: 16px;
  height: 16px;
  margin-left:13px;
  text-indent: -9999px;
  background: url("../images/banBtn.png") no-repeat;
  color: #fff;
  cursor: pointer;
}
.btnClass:hover{
  background: url("../images/banBtn_on.png") no-repeat;
}
.btnClass.btnAct{
  background: url("../images/banBtn_on.png") no-repeat;
}
#banner li a{
  display: block;
  width: 100%;
  height: 100%;
}